.chat-threads-container{
    padding-top: 1rem;
}
.chat-threads-container .title{
    margin: 1rem;
}
.search-bar-wrapper{
    padding: 0rem 1rem;
}
.action-section{
    padding-bottom: 1rem;
}

.channels-fallback{
    padding: 1rem;
    text-align: center;
    color: gray;
}