.sidebar{
    width: fit-content;
    height: 100%;
    background: rgb(212, 209, 209);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    --tab-active-color: #3db16b;
}
.sidebar-item-group.bottom{
    margin-top: auto;
}
.sidebar-item{
    padding: 1rem;
    cursor: pointer;
}
.sidebar-item.active{
    background: white;
}
.sidebar-item:hover{
    background: white;
}
.sidebar-item-icon svg{
    width: 1.5rem;
    height: 1.5rem;
}
.sidebar-item-icon:hover{
    /* stroke: var(--tab-active-color); */
}
.sidebar-item-label{
    display: none;
}