.chat-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    overflow-y: scroll;
}

.chat-body::-webkit-scrollbar{
    display: none;
}

.messages-wrapper{
    /* flex: 1; */
    height: 100% !important;
}
.messages{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}