.chat-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}
.messages-wrapper{
    /* flex: 1; */
    height: 100% !important;
    overflow:hidden;
}
.messages{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}